<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditSeguidoSeguidorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditSeguidoSeguidorLabel_id}" for="id" />
                    <h:inputText id="id" value="#{seguidoSeguidorController.selected.id}" title="#{bundle.EditSeguidoSeguidorTitle_id}" required="true" requiredMessage="#{bundle.EditSeguidoSeguidorRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditSeguidoSeguidorLabel_seguido}" for="seguido" />
                    <h:selectOneMenu id="seguido" value="#{seguidoSeguidorController.selected.seguido}" title="#{bundle.EditSeguidoSeguidorTitle_seguido}" required="true" requiredMessage="#{bundle.EditSeguidoSeguidorRequiredMessage_seguido}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditSeguidoSeguidorLabel_seguidor}" for="seguidor" />
                    <h:selectOneMenu id="seguidor" value="#{seguidoSeguidorController.selected.seguidor}" title="#{bundle.EditSeguidoSeguidorTitle_seguidor}" required="true" requiredMessage="#{bundle.EditSeguidoSeguidorRequiredMessage_seguidor}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{seguidoSeguidorController.update}" value="#{bundle.EditSeguidoSeguidorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditSeguidoSeguidorViewLink}"/>
                <br />
                <h:commandLink action="#{seguidoSeguidorController.prepareList}" value="#{bundle.EditSeguidoSeguidorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditSeguidoSeguidorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
