<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSeguidoSeguidorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSeguidoSeguidorEmpty}" rendered="#{seguidoSeguidorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{seguidoSeguidorController.items.rowCount > 0}">
                    <h:outputText value="#{seguidoSeguidorController.pagination.pageFirstItem + 1}..#{seguidoSeguidorController.pagination.pageLastItem + 1}/#{seguidoSeguidorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{seguidoSeguidorController.previous}" value="#{bundle.Previous} #{seguidoSeguidorController.pagination.pageSize}" rendered="#{seguidoSeguidorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{seguidoSeguidorController.next}" value="#{bundle.Next} #{seguidoSeguidorController.pagination.pageSize}" rendered="#{seguidoSeguidorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{seguidoSeguidorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeguidoSeguidorTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeguidoSeguidorTitle_seguido}"/>
                            </f:facet>
                            <h:outputText value="#{item.seguido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeguidoSeguidorTitle_seguidor}"/>
                            </f:facet>
                            <h:outputText value="#{item.seguidor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{seguidoSeguidorController.prepareView}" value="#{bundle.ListSeguidoSeguidorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{seguidoSeguidorController.prepareEdit}" value="#{bundle.ListSeguidoSeguidorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{seguidoSeguidorController.destroy}" value="#{bundle.ListSeguidoSeguidorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{seguidoSeguidorController.prepareCreate}" value="#{bundle.ListSeguidoSeguidorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListSeguidoSeguidorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
