<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSeguidoSeguidorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSeguidoSeguidorLabel_id}"/>
                    <h:outputText value="#{seguidoSeguidorController.selected.id}" title="#{bundle.ViewSeguidoSeguidorTitle_id}"/>
                    <h:outputText value="#{bundle.ViewSeguidoSeguidorLabel_seguido}"/>
                    <h:outputText value="#{seguidoSeguidorController.selected.seguido}" title="#{bundle.ViewSeguidoSeguidorTitle_seguido}"/>
                    <h:outputText value="#{bundle.ViewSeguidoSeguidorLabel_seguidor}"/>
                    <h:outputText value="#{seguidoSeguidorController.selected.seguidor}" title="#{bundle.ViewSeguidoSeguidorTitle_seguidor}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{seguidoSeguidorController.destroyAndView}" value="#{bundle.ViewSeguidoSeguidorDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSeguidoSeguidorEditLink}"/>
                <br />
                <h:commandLink action="#{seguidoSeguidorController.prepareCreate}" value="#{bundle.ViewSeguidoSeguidorCreateLink}" />
                <br />
                <h:commandLink action="#{seguidoSeguidorController.prepareList}" value="#{bundle.ViewSeguidoSeguidorShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewSeguidoSeguidorIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
