<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>

    </h:head>

    <h:body>
        <h:form>
            <h:panelGrid columns="2">

                <p:outputLabel value="#{bundle.CreatePublicacionLabel_tipo}" for="tipo" />
                <h:selectOneRadio id= "tipo"  value = "#{publicacionController.selected.tipo}" >
                <f:selectItem  itemLabel = "Pregunta"  itemValue = "Pregunta"  />
                <f:selectItem  itemLabel = "Experiencia"  itemValue = "Experiencia"  />
                </h:selectOneRadio >

                <p:outputLabel value="#{bundle.CreatePublicacionLabel_titulo}" for="titulo" />
                <p:inputText id="titulo" value="#{publicacionController.selected.titulo}" style="width:100%; "  />

                <p:outputLabel value="#{bundle.CreatePublicacionLabel_contenido}" for="contenido" />
                <p:inputTextarea rows="4" style="width:624px; height: 355px;" id="contenido" value="#{publicacionController.selected.contenido}" title="#{bundle.CreatePublicacionTitle_contenido}" />



                <p:outputLabel value="Tags Publicacion" for="tags" />
                <p:inputText id="tags" value="#{publicacionController.selected.contenido}" style="width:100%; "  />


                <p:outputLabel value="Nuevo Tag" for="tag" />
                <h:panelGrid columns="2">
                    <p:inputText id="tag" value="#{tagController.selected.descipcion}"  />
                    <p:commandButton value="AgregarTag"></p:commandButton>
                </h:panelGrid>

            </h:panelGrid>
            <br />
            <p:commandButton value="REGISTRAR" />
            <br />
            <br />

        </h:form>


    </h:body>
</html>
