<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPublicacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPublicacionLabel_id}" for="id" />
                    <h:inputText id="id" value="#{publicacionController.selected.id}" title="#{bundle.EditPublicacionTitle_id}" required="true" requiredMessage="#{bundle.EditPublicacionRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditPublicacionLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{publicacionController.selected.titulo}" title="#{bundle.EditPublicacionTitle_titulo}" />
                    <h:outputLabel value="#{bundle.EditPublicacionLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{publicacionController.selected.fecha}" title="#{bundle.EditPublicacionTitle_fecha}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPublicacionLabel_contenido}" for="contenido" />
                    <h:inputTextarea rows="4" cols="30" id="contenido" value="#{publicacionController.selected.contenido}" title="#{bundle.EditPublicacionTitle_contenido}" />
                    <h:outputLabel value="#{bundle.EditPublicacionLabel_tipo}" for="tipo" />
                    <h:inputText id="tipo" value="#{publicacionController.selected.tipo}" title="#{bundle.EditPublicacionTitle_tipo}" />
                    <h:outputLabel value="#{bundle.EditPublicacionLabel_calificacion}" for="calificacion" />
                    <h:inputText id="calificacion" value="#{publicacionController.selected.calificacion}" title="#{bundle.EditPublicacionTitle_calificacion}" />
                    <h:outputLabel value="#{bundle.EditPublicacionLabel_usuario}" for="usuario" />
                    <h:selectOneMenu id="usuario" value="#{publicacionController.selected.usuario}" title="#{bundle.EditPublicacionTitle_usuario}" required="true" requiredMessage="#{bundle.EditPublicacionRequiredMessage_usuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{publicacionController.update}" value="#{bundle.EditPublicacionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPublicacionViewLink}"/>
                <br />
                <h:commandLink action="#{publicacionController.prepareList}" value="#{bundle.EditPublicacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPublicacionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
