<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPublicacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPublicacionEmpty}" rendered="#{publicacionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{publicacionController.items.rowCount > 0}">
                    <h:outputText value="#{publicacionController.pagination.pageFirstItem + 1}..#{publicacionController.pagination.pageLastItem + 1}/#{publicacionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{publicacionController.previous}" value="#{bundle.Previous} #{publicacionController.pagination.pageSize}" rendered="#{publicacionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{publicacionController.next}" value="#{bundle.Next} #{publicacionController.pagination.pageSize}" rendered="#{publicacionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{publicacionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionTitle_titulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionTitle_contenido}"/>
                            </f:facet>
                            <h:outputText value="#{item.contenido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionTitle_tipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionTitle_calificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.calificacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionTitle_usuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{publicacionController.prepareView}" value="#{bundle.ListPublicacionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{publicacionController.prepareEdit}" value="#{bundle.ListPublicacionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{publicacionController.destroy}" value="#{bundle.ListPublicacionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{publicacionController.prepareCreate}" value="#{bundle.ListPublicacionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPublicacionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
