<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPublicacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPublicacionLabel_id}"/>
                    <h:outputText value="#{publicacionController.selected.id}" title="#{bundle.ViewPublicacionTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPublicacionLabel_titulo}"/>
                    <h:outputText value="#{publicacionController.selected.titulo}" title="#{bundle.ViewPublicacionTitle_titulo}"/>
                    <h:outputText value="#{bundle.ViewPublicacionLabel_fecha}"/>
                    <h:outputText value="#{publicacionController.selected.fecha}" title="#{bundle.ViewPublicacionTitle_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPublicacionLabel_contenido}"/>
                    <h:outputText value="#{publicacionController.selected.contenido}" title="#{bundle.ViewPublicacionTitle_contenido}"/>
                    <h:outputText value="#{bundle.ViewPublicacionLabel_tipo}"/>
                    <h:outputText value="#{publicacionController.selected.tipo}" title="#{bundle.ViewPublicacionTitle_tipo}"/>
                    <h:outputText value="#{bundle.ViewPublicacionLabel_calificacion}"/>
                    <h:outputText value="#{publicacionController.selected.calificacion}" title="#{bundle.ViewPublicacionTitle_calificacion}"/>
                    <h:outputText value="#{bundle.ViewPublicacionLabel_usuario}"/>
                    <h:outputText value="#{publicacionController.selected.usuario}" title="#{bundle.ViewPublicacionTitle_usuario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{publicacionController.destroyAndView}" value="#{bundle.ViewPublicacionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPublicacionEditLink}"/>
                <br />
                <h:commandLink action="#{publicacionController.prepareCreate}" value="#{bundle.ViewPublicacionCreateLink}" />
                <br />
                <h:commandLink action="#{publicacionController.prepareList}" value="#{bundle.ViewPublicacionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPublicacionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
