<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditComentarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditComentarioLabel_id}" for="id" />
                    <h:inputText id="id" value="#{comentarioController.selected.id}" title="#{bundle.EditComentarioTitle_id}" required="true" requiredMessage="#{bundle.EditComentarioRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditComentarioLabel_contenido}" for="contenido" />
                    <h:inputTextarea rows="4" cols="30" id="contenido" value="#{comentarioController.selected.contenido}" title="#{bundle.EditComentarioTitle_contenido}" />
                    <h:outputLabel value="#{bundle.EditComentarioLabel_valoracion}" for="valoracion" />
                    <h:inputText id="valoracion" value="#{comentarioController.selected.valoracion}" title="#{bundle.EditComentarioTitle_valoracion}" />
                    <h:outputLabel value="#{bundle.EditComentarioLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{comentarioController.selected.fecha}" title="#{bundle.EditComentarioTitle_fecha}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditComentarioLabel_usuario}" for="usuario" />
                    <h:selectOneMenu id="usuario" value="#{comentarioController.selected.usuario}" title="#{bundle.EditComentarioTitle_usuario}" required="true" requiredMessage="#{bundle.EditComentarioRequiredMessage_usuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditComentarioLabel_publicacion}" for="publicacion" />
                    <h:selectOneMenu id="publicacion" value="#{comentarioController.selected.publicacion}" title="#{bundle.EditComentarioTitle_publicacion}" required="true" requiredMessage="#{bundle.EditComentarioRequiredMessage_publicacion}">
                        <f:selectItems value="#{publicacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{comentarioController.update}" value="#{bundle.EditComentarioSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditComentarioViewLink}"/>
                <br />
                <h:commandLink action="#{comentarioController.prepareList}" value="#{bundle.EditComentarioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditComentarioIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
