<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListComentarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListComentarioEmpty}" rendered="#{comentarioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{comentarioController.items.rowCount > 0}">
                    <h:outputText value="#{comentarioController.pagination.pageFirstItem + 1}..#{comentarioController.pagination.pageLastItem + 1}/#{comentarioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{comentarioController.previous}" value="#{bundle.Previous} #{comentarioController.pagination.pageSize}" rendered="#{comentarioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{comentarioController.next}" value="#{bundle.Next} #{comentarioController.pagination.pageSize}" rendered="#{comentarioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{comentarioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComentarioTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComentarioTitle_contenido}"/>
                            </f:facet>
                            <h:outputText value="#{item.contenido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComentarioTitle_valoracion}"/>
                            </f:facet>
                            <h:outputText value="#{item.valoracion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComentarioTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComentarioTitle_usuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListComentarioTitle_publicacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.publicacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{comentarioController.prepareView}" value="#{bundle.ListComentarioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{comentarioController.prepareEdit}" value="#{bundle.ListComentarioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{comentarioController.destroy}" value="#{bundle.ListComentarioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{comentarioController.prepareCreate}" value="#{bundle.ListComentarioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListComentarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
