<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewComentarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewComentarioLabel_id}"/>
                    <h:outputText value="#{comentarioController.selected.id}" title="#{bundle.ViewComentarioTitle_id}"/>
                    <h:outputText value="#{bundle.ViewComentarioLabel_contenido}"/>
                    <h:outputText value="#{comentarioController.selected.contenido}" title="#{bundle.ViewComentarioTitle_contenido}"/>
                    <h:outputText value="#{bundle.ViewComentarioLabel_valoracion}"/>
                    <h:outputText value="#{comentarioController.selected.valoracion}" title="#{bundle.ViewComentarioTitle_valoracion}"/>
                    <h:outputText value="#{bundle.ViewComentarioLabel_fecha}"/>
                    <h:outputText value="#{comentarioController.selected.fecha}" title="#{bundle.ViewComentarioTitle_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewComentarioLabel_usuario}"/>
                    <h:outputText value="#{comentarioController.selected.usuario}" title="#{bundle.ViewComentarioTitle_usuario}"/>
                    <h:outputText value="#{bundle.ViewComentarioLabel_publicacion}"/>
                    <h:outputText value="#{comentarioController.selected.publicacion}" title="#{bundle.ViewComentarioTitle_publicacion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{comentarioController.destroyAndView}" value="#{bundle.ViewComentarioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewComentarioEditLink}"/>
                <br />
                <h:commandLink action="#{comentarioController.prepareCreate}" value="#{bundle.ViewComentarioCreateLink}" />
                <br />
                <h:commandLink action="#{comentarioController.prepareList}" value="#{bundle.ViewComentarioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewComentarioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
