<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPublicacionHasTagTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPublicacionHasTagLabel_id}" for="id" />
                    <h:inputText id="id" value="#{publicacionHasTagController.selected.id}" title="#{bundle.EditPublicacionHasTagTitle_id}" required="true" requiredMessage="#{bundle.EditPublicacionHasTagRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditPublicacionHasTagLabel_tagId}" for="tagId" />
                    <h:selectOneMenu id="tagId" value="#{publicacionHasTagController.selected.tagId}" title="#{bundle.EditPublicacionHasTagTitle_tagId}" required="true" requiredMessage="#{bundle.EditPublicacionHasTagRequiredMessage_tagId}">
                        <f:selectItems value="#{tagController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPublicacionHasTagLabel_publicacionId}" for="publicacionId" />
                    <h:selectOneMenu id="publicacionId" value="#{publicacionHasTagController.selected.publicacionId}" title="#{bundle.EditPublicacionHasTagTitle_publicacionId}" required="true" requiredMessage="#{bundle.EditPublicacionHasTagRequiredMessage_publicacionId}">
                        <f:selectItems value="#{publicacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{publicacionHasTagController.update}" value="#{bundle.EditPublicacionHasTagSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPublicacionHasTagViewLink}"/>
                <br />
                <h:commandLink action="#{publicacionHasTagController.prepareList}" value="#{bundle.EditPublicacionHasTagShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPublicacionHasTagIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
