<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPublicacionHasTagTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPublicacionHasTagEmpty}" rendered="#{publicacionHasTagController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{publicacionHasTagController.items.rowCount > 0}">
                    <h:outputText value="#{publicacionHasTagController.pagination.pageFirstItem + 1}..#{publicacionHasTagController.pagination.pageLastItem + 1}/#{publicacionHasTagController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{publicacionHasTagController.previous}" value="#{bundle.Previous} #{publicacionHasTagController.pagination.pageSize}" rendered="#{publicacionHasTagController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{publicacionHasTagController.next}" value="#{bundle.Next} #{publicacionHasTagController.pagination.pageSize}" rendered="#{publicacionHasTagController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{publicacionHasTagController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionHasTagTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionHasTagTitle_tagId}"/>
                            </f:facet>
                            <h:outputText value="#{item.tagId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPublicacionHasTagTitle_publicacionId}"/>
                            </f:facet>
                            <h:outputText value="#{item.publicacionId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{publicacionHasTagController.prepareView}" value="#{bundle.ListPublicacionHasTagViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{publicacionHasTagController.prepareEdit}" value="#{bundle.ListPublicacionHasTagEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{publicacionHasTagController.destroy}" value="#{bundle.ListPublicacionHasTagDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{publicacionHasTagController.prepareCreate}" value="#{bundle.ListPublicacionHasTagCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPublicacionHasTagIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
