<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPublicacionHasTagTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPublicacionHasTagLabel_id}"/>
                    <h:outputText value="#{publicacionHasTagController.selected.id}" title="#{bundle.ViewPublicacionHasTagTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPublicacionHasTagLabel_tagId}"/>
                    <h:outputText value="#{publicacionHasTagController.selected.tagId}" title="#{bundle.ViewPublicacionHasTagTitle_tagId}"/>
                    <h:outputText value="#{bundle.ViewPublicacionHasTagLabel_publicacionId}"/>
                    <h:outputText value="#{publicacionHasTagController.selected.publicacionId}" title="#{bundle.ViewPublicacionHasTagTitle_publicacionId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{publicacionHasTagController.destroyAndView}" value="#{bundle.ViewPublicacionHasTagDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPublicacionHasTagEditLink}"/>
                <br />
                <h:commandLink action="#{publicacionHasTagController.prepareCreate}" value="#{bundle.ViewPublicacionHasTagCreateLink}" />
                <br />
                <h:commandLink action="#{publicacionHasTagController.prepareList}" value="#{bundle.ViewPublicacionHasTagShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPublicacionHasTagIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
