<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTagTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTagEmpty}" rendered="#{tagController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tagController.items.rowCount > 0}">
                    <h:outputText value="#{tagController.pagination.pageFirstItem + 1}..#{tagController.pagination.pageLastItem + 1}/#{tagController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{tagController.previous}" value="#{bundle.Previous} #{tagController.pagination.pageSize}" rendered="#{tagController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tagController.next}" value="#{bundle.Next} #{tagController.pagination.pageSize}" rendered="#{tagController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tagController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTagTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTagTitle_descipcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descipcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tagController.prepareView}" value="#{bundle.ListTagViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tagController.prepareEdit}" value="#{bundle.ListTagEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tagController.destroy}" value="#{bundle.ListTagDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{tagController.prepareCreate}" value="#{bundle.ListTagCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTagIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
