<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTagTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTagLabel_id}"/>
                    <h:outputText value="#{tagController.selected.id}" title="#{bundle.ViewTagTitle_id}"/>
                    <h:outputText value="#{bundle.ViewTagLabel_descipcion}"/>
                    <h:outputText value="#{tagController.selected.descipcion}" title="#{bundle.ViewTagTitle_descipcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tagController.destroyAndView}" value="#{bundle.ViewTagDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTagEditLink}"/>
                <br />
                <h:commandLink action="#{tagController.prepareCreate}" value="#{bundle.ViewTagCreateLink}" />
                <br />
                <h:commandLink action="#{tagController.prepareList}" value="#{bundle.ViewTagShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTagIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
