<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <script type="text/javascript" src="resources/scripts/jquery.js"></script>
                <script type="text/javascript" src="resources/scripts/funcionesCarga.js"></script>




                <title>Foro IS-UFPS</title>
            </f:facet>
        </h:head>
        <h:body style="background-color: wheat; ">

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="180" >
                    <center>
                        <div style="width:70%; height:90%;">
                            <img  style="width:100%; height:155px;" src="../resources/imagenes/bannerA.png" alt=""/>
                        </div>
                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="40" closable="false" collapsible="false" style="background: #b2d5d6;">
                    <center>

                        <h>Copyrigth UFPS- Ingenieria de Sistemas, Desarrollo De Aplicaciones Web - I 2015</h>


                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="east" header="Usuarios Seguidos "  style="font-size:small ;" collapsible="true" effect="drop" >

                    <p:dataScroller value="#{usuarioController.seguidos}" var="user" chunkSize="10" mode="inline" scrollHeight="300">


                        <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
                            <h:form>
                                <p:outputPanel>
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <h:outputText value="Codigo:" />
                                        <h:outputText value="#{user.codigo}" style="font-weight: bold"/>

                                        <p:commandButton value="Perfil" actionListener="#{usuarioController.verPerfil(user)}" style="height: 40px;" action="#{usuarioController.direccionPerfil()}"></p:commandButton>


                                    </h:panelGrid>
                                </p:outputPanel>
                            </h:form>
                        </h:panelGrid>
                    </p:dataScroller>
                    <br/>

                    <p:spacer width="60" height="10" />
                    <p:commandLink action="#{usuarioController.logOut()}"><img  style="width:60px; height:25px;" src="../resources/imagenes/logOut.png" alt=""/></p:commandLink>
                </p:layoutUnit> 

                <p:layoutUnit position="west" resizable="true" size="240" style="font-size: small; ">
                    <p:panelGrid columns="2">
                        <f:facet name="header">
                            <img  style="width:155px; height:155px;" src="../resources/imagenes/kobe.png" alt=""/>
                        </f:facet>

                        <h:outputText value="Nombre:" />
                        <h:outputText value="#{usuarioController.visto.nombre}" />

                        <h:outputText value="Nick:" />
                        <h:outputText value="#{usuarioController.visto.nick}" />

                        <h:outputText value="Email:" />
                        <h:outputText value="#{usuarioController.visto.correo}" />

                        <h:outputText value="Codigo:" />
                        <h:outputText value="#{usuarioController.visto.codigo}" />
                        <p:commandButton value="seguir" action="#{usuarioController.seguir()}"/>
                    </p:panelGrid>
                </p:layoutUnit>

                <p:layoutUnit position="center" style="font-size: small; ">
                    <br/>
                    <h:form>
                        <p:tabView dynamic="true" cache="false" orientation="left" id="secciones" style="border: 0px;">

                            <p:tab title="PREGUNTAS" >
                                <h:panelGrid columns="1" cellpadding="0" style="width:100%;" >
                                    <p:tabView  id="seccion_preguntas" style="border: 0px;">

                                        <p:tab title="Mas Recientes">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">

                                                <p:dataScroller value="#{publicacionController.publicacionesPreguntasRecientesVisto}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        PREGUNTAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Fecha Publicacion:" />
                                                                <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>


                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" onclick="PF('dlg5').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>


                                            </h:panelGrid>
                                        </p:tab>

                                        <p:tab title="Mas Puntuadas">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">
                                                <p:dataScroller value="#{publicacionController.publicacionesPreguntasPuntuadasVisto}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        PREGUNTAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Fecha Publicacion:" />
                                                                <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>

                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" onclick="PF('dlg5').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>

                                            </h:panelGrid>
                                        </p:tab>

                                    </p:tabView>
                                </h:panelGrid>
                            </p:tab>


                            <p:tab title="EXPERIENCIAS">
                                <h:panelGrid columns="1" cellpadding="0" style="width:100%;">
                                    <p:tabView  id="seccion_experiencias" style="border: 0px;">

                                        <p:tab title="Mas Recientes">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">

                                                <p:dataScroller value="#{publicacionController.publicacionesExperienciasRecientesVisto}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        EXPERIENCIAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Fecha Publicacion:" />
                                                                <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>


                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" onclick="PF('dlg5').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>

                                            </h:panelGrid>
                                        </p:tab>

                                        <p:tab title="Mas Puntuadas">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">
                                                <p:dataScroller value="#{publicacionController.publicacionesExperienciasPuntuadasVisto}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        EXPERIENCIAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Fecha Publicacion:" />
                                                                <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>

                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" onclick="PF('dlg5').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>

                                            </h:panelGrid>
                                        </p:tab>

                                    </p:tabView>

                                </h:panelGrid>
                            </p:tab>

                        </p:tabView>
                    </h:form>
                </p:layoutUnit>


            </p:layout>
            <p:dialog style="font-size: small;"  header="Titulo de la Publicacion"  widgetVar="dlg5" showEffect="explode" hideEffect="explode" height="500" width="800" resizable="false" closable="true" closeOnEscape="true" draggable="false" modal="true" >
                <p:ajax event="close" update="@all"/>      
                <center>
                    <h:form>


                        <h:panelGrid id="grid" columns="4" cellpadding="8">


                            <h:outputLabel for="nick" value="Nombre de Usuario:" style="font-weight:bold"/>                    
                            <h:outputLabel id="nick" value="#{publicacionController.publicacionVer.usuario.nombre}" title="#{bundle.CreateUsuarioTitle_nick}" style="width: 300px"/>





                            <h:outputLabel for="codigo" value="Codigo:" style="font-weight:bold"/>                    
                            <h:outputLabel id="codigo"  value="#{publicacionController.publicacionVer.usuario.codigo}" title="#{bundle.CreateUsuarioTitle_codigo}" />


                            <h:outputLabel for="correo" value="E-Mail:" style="font-weight:bold"/>
                            <h:outputLabel id="correo" value="#{publicacionController.publicacionVer.usuario.correo}" style="width: 300px;" title="#{bundle.CreateUsuarioTitle_correo}"/>

                            <p:commandButton value="Perfil" actionListener="#{usuarioController.verPerfil(publicacionController.publicacionVer.usuario)}" style="height: 40px;" action="#{usuarioController.direccionPerfil()}"></p:commandButton>


                        </h:panelGrid>

                        <h3>Descripcion:</h3>
                        <p:inputTextarea rows="6" cols="33" value="#{publicacionController.publicacionVer.contenido}" style="width: 100%;  color: black;   font-size:medium ;" disabled="true" />
                        <br/>
                        <br/>

                        <h:form> 

                            <p:dataScroller value="#{publicacionController.publicacionVer.comentarioList}" var="coment"  chunkSize="5" mode="inline" rows="4" >
                                <f:facet name="header">
                                    Desplaza para ver mas comentarios
                                </f:facet>

                                <h:panelGrid columns="2" style="width:90%" >
                                    <p:graphicImage  url="../resources/imagenes/kobe.png"/> 

                                    <p:outputPanel>
                                        <h:panelGrid columns="2" cellpadding="5">

                                            <h:outputText value="Usuario:" />
                                            <h:outputText value="Ronald Vargas" style="font-weight: bold"/>

                                            <h:outputText value="Comentario:" />
                                            <h:outputText value="Exelente publicacion, sigue asi." style="font-weight: bold"/>
                                        </h:panelGrid>
                                    </p:outputPanel>
                                </h:panelGrid>
                            </p:dataScroller>

                        </h:form>

                        <br/>

                        <br/>
                        <h3>Comenta.</h3>
                        <p:inputTextarea rows="6" cols="33" value="Ingrese comentario"  style="width: 100%;"/>
                        <br/>
                        <br/>
                        <p:commandButton value="Comentar"  icon="ui-icon-check" validateClient="true" /><p:spacer width="20" height="20" />
                    </h:form>
                </center>
            </p:dialog>
        </h:body>


    </f:view>
</html>

