<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <script type="text/javascript" src="resources/scripts/jquery.js"></script>
                <script type="text/javascript" src="resources/scripts/funcionesCarga.js"></script>



                <title>Foro IS</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

               <p:layoutUnit position="north" size="180" >
                    <center>
                        <div style="width:70%; height:90%;">
                            <img  style="width:100%; height:155px;" src="../resources/imagenes/bannerA.png" alt=""/>
                        </div>
                    </center>
                </p:layoutUnit>




                <p:layoutUnit position="south" size="40" closable="false" collapsible="false" style="background: #b2d5d6;">
                    <center>
                        <h>Copyrigth Ingenieria de Sistemas - UFPS - 2015</h>
                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="center" style="font-size: medium;">
                    <br/>
                   
                        <center>
                            <p:panel header="Registro de Usuario" >
                                <p:scrollPanel style="width:90%; height:360px">
                                       <h:form>
                                   

                                    <h:panelGrid id="grid" columns="2" cellpadding="8">


                                        <h:outputLabel for="nick" value="Nombre de Usuario:" style="font-weight:bold"/>                    
                                        <p:inputText id="nick" value="#{usuarioController.selected.nick}" title="#{bundle.CreateUsuarioTitle_nick}" required="true"  style="width: 300px"/>
                                      

                                      

                                        <h:outputLabel for="nombre" value="Nombre:" style="font-weight:bold"/>                    
                                        <p:inputText id="nombre" value="#{usuarioController.selected.nombre}" title="#{bundle.CreateUsuarioTitle_nombre}" required="true" style="width: 300px"/>
                                      
                                     

                                        <h:outputLabel for="codigo" value="Codigo:" style="font-weight:bold"/>                    
                                        <p:inputText id="codigo"  value="#{usuarioController.selected.codigo}" title="#{bundle.CreateUsuarioTitle_codigo}" required="true" style="width: 300px" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_codigo}"/>
                                
                                  
                                        <h:outputLabel value="Contraseña:" for="password" style="font-weight:bold"/>
                                        <p:password id="password" value="#{usuarioController.selected.password}" feedback="true" required="true" style="width: 300px"/>                                        
                                  
                                        
                                        <h:outputLabel value="Confirme su Contraseña:" for="password2" style="font-weight:bold"/>
                                        <p:password id="password2" feedback="true" required="true" style="width: 300px"/>                                        
                 
                                        
                                        <h:outputLabel for="correo" value="E-Mail:" style="font-weight:bold"/>
                                        <p:inputText id="correo" value="#{usuarioController.selected.correo}" style="width: 300px" title="#{bundle.CreateUsuarioTitle_correo}"/>
                                 
                                        
                                        

                                    </h:panelGrid>
                                    <br/>
                                    <p:commandButton value="REGISTRAR"  icon="ui-icon-check"  action="#{usuarioController.registro()}" />
                                       </h:form>
                                </p:scrollPanel>
                            </p:panel>
                        </center>
              

                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

