<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <script type="text/javascript" src="resources/scripts/jquery.js"></script>
                <script type="text/javascript" src="resources/scripts/funcionesCarga.js"></script>




                <title>Foro IS-UFPS</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: wheat; ">

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="180" >
                    <center>
                        <div style="width:70%; height:90%;">
                            <img  style="width:100%; height:155px;" src="resources/imagenes/bannerA.png" alt=""/>
                        </div>
                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="40" closable="false" collapsible="false" style="background: #b2d5d6;">
                    <center>

                        <h>Copyrigth UFPS- Ingenieria de Sistemas, Desarrollo De Aplicaciones Web - I 2015</h>


                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="east" header="Usuarios Seguidos "  style="font-size: small;" collapsible="true" effect="drop" >

                    <p:dataScroller value="#{usuarioController.seguidos}" var="user" chunkSize="10" mode="inline" scrollHeight="300">


                        <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
                            <h:form>
                                <p:outputPanel>
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <h:outputText value="Codigo:" />
                                        <h:outputText value="#{user.codigo}" style="font-weight: bold"/>
                                        
                                        <p:commandButton value="Perfil" actionListener="#{usuarioController.verPerfil(user)}" style="height: 40px;" action="#{usuarioController.direccionPerfil()}"></p:commandButton>


                                    </h:panelGrid>

                                </p:outputPanel>
                            </h:form>
                        </h:panelGrid>
                    </p:dataScroller>
                    <br/>

                    <p:spacer width="60" height="10" />
                    <p:commandLink action="#{usuarioController.logOut()}"><img  style="width:60px; height:25px;" src="resources/imagenes/logOut.png" alt=""/></p:commandLink>
                </p:layoutUnit>

                <p:layoutUnit position="center" style="font-size: small; ">
                    <br/>
                    <h:form>
                        <p:tabView dynamic="true" cache="false" orientation="left" id="secciones" style="border: 0px;">

                            <p:tab title="PREGUNTAS" >
                                <h:panelGrid columns="1" cellpadding="0" style="width:100%;" >
                                    <p:tabView  id="seccion_preguntas" style="border: 0px;">

                                        <p:tab title="Mas Recientes">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">

                                                <p:dataScroller value="#{publicacionController.preguntasRecientes}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        PREGUNTAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Fecha Publicacion:" />
                                                                <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>


                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" actionListener="#{publicacionController.cargarPublicacionVer(pub)}" onclick="PF('dlg4').show();" ></p:commandButton>




                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>


                                            </h:panelGrid>
                                        </p:tab>

                                        <p:tab title="Mas Puntuadas">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">
                                                <p:dataScroller value="#{publicacionController.preguntasPuntuadas}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        PREGUNTAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Puntaje:" />
                                                                <h:outputText value="#{pub.calificacion}" style="font-weight: bold"/>

                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" actionListener="#{publicacionController.cargarPublicacionVer(pub)}" onclick="PF('dlg4').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>

                                            </h:panelGrid>
                                        </p:tab>
                                    </p:tabView>
                                </h:panelGrid>
                            </p:tab>



                            <p:tab title="EXPERIENCIAS">
                                <h:panelGrid columns="1" cellpadding="0" style="width:100%;">
                                    <p:tabView  id="seccion_experiencias" style="border: 0px;">

                                        <p:tab title="Mas Recientes">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">

                                                <p:dataScroller value="#{publicacionController.experienciasRecientes}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        EXPERIENCIAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Fecha Publicacion:" />
                                                                <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>


                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" actionListener="#{publicacionController.cargarPublicacionVer(pub)}" onclick="PF('dlg4').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>

                                            </h:panelGrid>
                                        </p:tab>

                                        <p:tab title="Mas Puntuadas">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">
                                                <p:dataScroller value="#{publicacionController.experienciasPuntuadas}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        EXPERIENCIAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Puntaje:" />
                                                                <h:outputText value="#{pub.calificacion}" style="font-weight: bold"/>

                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" actionListener="#{publicacionController.cargarPublicacionVer(pub)}" onclick="PF('dlg4').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>

                                            </h:panelGrid>
                                        </p:tab>


                                    </p:tabView>

                                </h:panelGrid>
                            </p:tab>



                            <p:tab title="BUSQUEDAS" >
                                <h:panelGrid columns="1" cellpadding="0" style="width:100%;">

                                    <h:panelGrid columns="4" > 
                                        <h:outputLabel value="Tag De Busqueda:   " for="tags" />
                                        <p:inputText id="tags" value="#{publicacionController.tag}"/>
                                        <p:commandButton value="Buscar" action="#{publicacionController.buscarPublicaciones()}" id="ajax" update="resBusq" styleClass="ui-priority-primary" />
                                        <p:commandButton value="Limpiar" action="#{publicacionController.limpiarBusqueda()}" id="ajax2" update="resBusq,tags" styleClass="ui-priority-primary" />

                                    </h:panelGrid>
                                    <br/>



                                    <p:dataScroller id="resBusq" value="#{publicacionController.publicacionesEncontradas}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                        <f:facet name="header">
                                            PUBLICACIONES
                                        </f:facet>

                                        <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                            <p:outputPanel>
                                                <h:panelGrid columns="2" cellpadding="5">
                                                    <h:outputText value="Autor:" />
                                                    <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                    <h:outputText value="Tipo Publicacion:" />
                                                    <h:outputText value="#{pub.tipo}" style="font-weight: bold"/>

                                                    <h:outputText value="Titulo:" />
                                                    <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                    <h:outputText value="Fecha Publicacion:" />
                                                    <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>


                                                    <h:outputText value="Accion:" />
                                                    <h:panelGrid columns="2">
                                                        <p:commandButton value="Ver Detalle" onclick="PF('dlg4').show();"></p:commandButton>
                                                        <p:commandButton value="Perfil" action="#{usuarioController.verPerfil()}"></p:commandButton>
                                                    </h:panelGrid>
                                                </h:panelGrid>
                                            </p:outputPanel>
                                        </h:panelGrid>
                                    </p:dataScroller>

                                </h:panelGrid>
                            </p:tab>

                            <p:tab title="MIS PUBLICACIONES" >

                                <p:tabView  id="seccion_publicaciones" style="border: 0px;">
                                    <p:tab title="Nueva Publicacion" id="pubNueva">
                                        <div style=" width:100%; height:290px; overflow-y:scroll;">
                                            
                                            <h:panelGrid columns="2" cellpadding="0" style="width:90%; height: 100%; border: 1;">
                                             
                                                <p:outputLabel value="#{bundle.CreatePublicacionLabel_tipo}" for="tipo" />
                                                <p:selectOneRadio id= "tipo"  value = "#{publicacionController.selected.tipo}" >
                                                    <f:selectItem  itemLabel = "Pregunta"  itemValue = "Pregunta"  />
                                                    <f:selectItem  itemLabel = "Experiencia"  itemValue = "Experiencia"  />
                                                </p:selectOneRadio >

                                                <p:outputLabel value="#{bundle.CreatePublicacionLabel_titulo}" for="titulo" />
                                                <p:inputText id="titulo" value="#{publicacionController.selected.titulo}" style="width:100%; "  />

                                                <p:outputLabel value="Tags Publiacion:" for="tags" />
                                                <p:autoComplete id="tags" multiple="true" value="#{publicacionController.tagPublicacion}" completeMethod="#{publicacionController.completeTags(val)}"
                                                                var="tag" itemLabel="#{tag.descipcion}" itemValue="#{tag}" converter="#{tagController.tagConverter}" forceSelection="true">
                                                    <p:column>
                                                        <h:outputText value="#{tag.descipcion}" />
                                                    </p:column>
                                                </p:autoComplete>


                                                <p:outputLabel value="Nuevo Tag: " for="tag" />
                                                <h:panelGrid columns="2">
                                                    <p:inputText id="tag" value="#{publicacionController.tagNuevo.descipcion}"  />
                                                    <p:commandButton value="AgregarTag" actionListener="#{publicacionController.nuevoTag()}" update="tag" oncomplete=""></p:commandButton>
                                                </h:panelGrid>
                                                <p:outputLabel value="#{bundle.CreatePublicacionLabel_contenido}" for="contenido" />
                                                <p:inputTextarea rows="4" style="width:624px; height: 355px;" id="contenido" value="#{publicacionController.selected.contenido}" title="#{bundle.CreatePublicacionTitle_contenido}" />

                                                <br />
                                                <p:growl id="growl" life="2000" />
                                                <p:commandButton value="PUBLICAR" actionListener="#{publicacionController.crear()}" update="tag,tipo,titulo,tags,growl,contenido"/>
                                                
                                            </h:panelGrid>
                                           
                                        </div>

                                    </p:tab>


                                    <p:tab title="Eliminar Publicacion">
                                        <h:form>
                                        <h:panelGrid columns="1" cellpadding="0"  style="width:100%;">
                                            <p:dataTable id="tbl" var="pub" value="#{publicacionController.publicacionesUsuario}"
                                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                                         paginator="true" rows="5" style="margin-bottom:20px">

                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Titulo" />
                                                    </f:facet>
                                                    <h:outputText value="#{pub.titulo}" />
                                                </p:column>

                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Tipo" />
                                                    </f:facet>
                                                    <h:outputText value="#{pub.tipo}" />
                                                </p:column>


                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Fecha" />
                                                    </f:facet>
                                                    <h:outputText value="#{pub.fecha}" />
                                                </p:column>


                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Accion" />
                                                    </f:facet>
                                                    <center>
                                                        <h:commandButton value="Eliminar">
                                                            <f:ajax event="click" execute="@this" render="tbl"  listener="#{publicacionController.destroy(pub)}" onevent="notificarEliminarPublicacion"  />
                                                        </h:commandButton>
                                                    </center>
                                                </p:column>

                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Accion" />
                                                    </f:facet>
                                                    <center>
                                                        <h:commandButton value="Ver" onclick="PF('dlg4').show();">
                                                            <f:ajax event="click" execute="@this" listener="#{publicacionController.cargarPublicacionVer(pub)}" />
                                                        </h:commandButton> 
                                                    </center>
                                                </p:column>


                                            </p:dataTable>


                                        </h:panelGrid>
                                        </h:form>
                                    </p:tab>
                                </p:tabView>


                            </p:tab>



                        </p:tabView>
                    </h:form>

                </p:layoutUnit>

            </p:layout>
             <p:dialog style="font-size: small;"  header="#{publicacionController.publicacionVer.titulo}"  widgetVar="dlg4" showEffect="explode" hideEffect="explode" height="500" width="800" resizable="false" closable="true" closeOnEscape="true" draggable="false" modal="true" >
                <p:ajax event="close" update="@all"/>
                 <center>
                    <h:form>


                        <h:panelGrid id="grid" columns="4" cellpadding="8">


                            <h:outputLabel for="nick" value="Nombre de Usuario:" style="font-weight:bold"/>                    
                            <h:outputLabel id="nick" value="#{publicacionController.publicacionVer.usuario.nombre}" title="#{bundle.CreateUsuarioTitle_nick}" style="width: 300px"/>





                            <h:outputLabel for="codigo" value="Codigo:" style="font-weight:bold"/>                    
                            <h:outputLabel id="codigo"  value="#{publicacionController.publicacionVer.usuario.codigo}" title="#{bundle.CreateUsuarioTitle_codigo}" />


                            <h:outputLabel for="correo" value="E-Mail:" style="font-weight:bold"/>
                            <h:outputLabel id="correo" value="#{publicacionController.publicacionVer.usuario.correo}" style="width: 300px;" title="#{bundle.CreateUsuarioTitle_correo}"/>

                            <p:commandButton value="Perfil" actionListener="#{usuarioController.verPerfil(publicacionController.publicacionVer.usuario)}" style="height: 40px;" action="#{usuarioController.direccionPerfil()}"></p:commandButton>


                        </h:panelGrid>

                        <h3>Descripcion:</h3>
                        <p:inputTextarea rows="6" cols="33" value="#{publicacionController.publicacionVer.contenido}" style="width: 100%;  color: black;   font-size:medium ;" disabled="true" />
                        <br/>
                        <br/>

                        <h:form> 

                            <p:dataScroller value="#{publicacionController.publicacionVer.comentarioList}" var="coment"  chunkSize="5" mode="inline" rows="4" >
                                <f:facet name="header">
                                    Desplaza para ver mas comentarios
                                </f:facet>

                                   <h:panelGrid columns="2" style="width:90%" >
                                    <p:graphicImage  url="resources/imagenes/kobe.png"/> 
                                    
                                    <p:outputPanel>
                                        <h:panelGrid columns="2" cellpadding="5">

                                            <h:outputText value="Usuario:" />
                                            <h:outputText value="#{coment.usuario.nombre}" style="font-weight: bold"/>

                                            <h:outputText value="Comentario:" />
                                            <h:outputText value="#{coment.contenido}" style="font-weight: bold"/>
                                        </h:panelGrid>
                                    </p:outputPanel>
                                </h:panelGrid>
                            </p:dataScroller>

                        </h:form>

                        <br/>
                           
                        <br/>
                        <h3>Comenta.</h3>
                        <p:inputTextarea rows="6" cols="33" value="#{publicacionController.comentarioPublicacion.contenido}"  style="width: 100%;"/>
                        <br/>
                        <br/>
                        <p:commandButton value="Comentar"  icon="ui-icon-check" validateClient="true" action="#{publicacionController.agregarComentario()}"  /><p:spacer width="20" height="20" />
                            
                    </h:form>
                </center>
            </p:dialog>
        </h:body>

    </f:view>
</html>

