<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <script type="text/javascript" src="resources/scripts/jquery.js"></script>
                <script type="text/javascript" src="resources/scripts/funcionesCarga.js"></script>




                <title>Foro IS-UFPS</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: wheat; ">

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="180" >
                    <center>
                        <div style="width:70%; height:90%;">
                            <img  style="width:100%; height:155px;" src="resources/imagenes/bannerA.png" alt=""/>
                        </div>
                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="40" closable="false" collapsible="false" style="background: #b2d5d6;">
                    <center>

                        <h>Copyrigth UFPS- Ingenieria de Sistemas, Desarrollo De Aplicaciones Web - I 2015</h>


                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="east" header="INICIA SESION!!!" size="300" style="font-size: medium;">
                    <center>
                        <br/><br/>
                        <h:form>
                            <h3 style="color: orange;">Ingrese Credenciales</h3>
                            <br/>
                            <h:panelGrid columns="2">
                                <h:outputLabel value="Codigo: "  for="codigo"/>
                                <p:inputText id="codigo" value="#{usuarioController.selected.codigo}" />
                                <h:outputLabel value="Contraseña: "  for="pass"/>
                                <p:password id="pass" value="#{usuarioController.selected.password}" />
                            </h:panelGrid>
                            <br/>
                            <p:commandButton value="Iniciar" action="#{usuarioController.logIn()}"/>
                            <br/><br/>
                            <a style="color: orange;" href="usuario/registro.xhtml">Registrate Ahora!</a> 
                        </h:form>
                    </center>

                </p:layoutUnit>

                <p:layoutUnit position="center" style="font-size: small; ">
                    <br/>
                    <h:form>
                        <p:tabView dynamic="true" cache="false" orientation="left" id="secciones" style="border: 0px;">

  
                            <p:tab title="PREGUNTAS" >
                                <h:panelGrid columns="1" cellpadding="0" style="width:100%;" >
                                    <p:tabView  id="seccion_preguntas" style="border: 0px;">

                                        <p:tab title="Mas Recientes" >
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">

                                                <p:dataScroller id="Recientes" value="#{publicacionController.preguntasRecientes}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header" >
                                                        PREGUNTAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Fecha Publicacion:" />
                                                                <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>


                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" update="@form" actionListener="#{publicacionController.cargarPublicacionVer(pub)}" onclick="PF('dlg3').show();" ></p:commandButton>




                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>


                                            </h:panelGrid>
                                        </p:tab>

                                        <p:tab title="Mas Puntuadas">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">
                                                <p:dataScroller value="#{publicacionController.preguntasPuntuadas}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        PREGUNTAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Puntaje:" />
                                                                <h:outputText value="#{pub.calificacion}" style="font-weight: bold"/>

                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" actionListener="#{publicacionController.cargarPublicacionVer(pub)}" onclick="PF('dlg3').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>

                                            </h:panelGrid>
                                        </p:tab>
                                    </p:tabView>
                                </h:panelGrid>
                            </p:tab>
                            


                            <p:tab title="EXPERIENCIAS">
                                <h:panelGrid columns="1" cellpadding="0" style="width:100%;">
                                    <p:tabView  id="seccion_experiencias" style="border: 0px;">

                                        <p:tab title="Mas Recientes">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">

                                                <p:dataScroller value="#{publicacionController.experienciasRecientes}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        EXPERIENCIAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Fecha Publicacion:" />
                                                                <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>


                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" actionListener="#{publicacionController.cargarPublicacionVer(pub)}" onclick="PF('dlg3').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>

                                            </h:panelGrid>
                                        </p:tab>

                                        <p:tab title="Mas Puntuadas">
                                            <h:panelGrid columns="1" cellpadding="0" style="width:100%;">
                                                <p:dataScroller value="#{publicacionController.experienciasPuntuadas}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                                    <f:facet name="header">
                                                        EXPERIENCIAS
                                                    </f:facet>

                                                    <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                                        <p:outputPanel>
                                                            <h:panelGrid columns="2" cellpadding="5">
                                                                <h:outputText value="Autor:" />
                                                                <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                                <h:outputText value="Titulo:" />
                                                                <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                                <h:outputText value="Puntaje:" />
                                                                <h:outputText value="#{pub.calificacion}" style="font-weight: bold"/>

                                                                <h:outputText value="Accion:" />

                                                                <p:commandButton value="Ver Detalle" actionListener="#{publicacionController.cargarPublicacionVer(pub)}" onclick="PF('dlg3').show();"></p:commandButton>

                                                            </h:panelGrid>
                                                        </p:outputPanel>
                                                    </h:panelGrid>
                                                </p:dataScroller>

                                            </h:panelGrid>
                                        </p:tab>


                                    </p:tabView>

                                </h:panelGrid>
                            </p:tab>



                            <p:tab title="BUSQUEDAS" id="busq" >
                                <h:panelGrid columns="1" cellpadding="0" style="width:100%;">

                                    <h:panelGrid columns="4" > 
                                        <h:outputLabel value="Tag De Busqueda:   " for="tags" />
                                        <p:inputText id="tags" value="#{publicacionController.tag}"/>
                                        <p:commandButton value="Buscar" id="ajax" update="pubBusqueda" actionListener="#{publicacionController.buscarPublicaciones()}" styleClass="ui-priority-primary" />
                                        <p:commandButton value="Limpiar" id="ajax2" update="tags,pubBusqueda" actionListener="#{publicacionController.limpiarBusqueda()}"  styleClass="ui-priority-primary"/>
                                    </h:panelGrid>
                                    <br/>



                                    <p:dataScroller id="pubBusqueda"  value="#{publicacionController.publicacionesEncontradas}" style="width:100%;" var="pub"  chunkSize="10" mode="inline" scrollHeight="250">
                                        <f:facet name="header">
                                            PUBLICACIONES
                                        </f:facet>

                                        <h:panelGrid columns="2" style="width:100%;" columnClasses="logo,detail">


                                            <p:outputPanel>
                                                <h:panelGrid columns="2" cellpadding="5">
                                                    <h:outputText value="Autor:" />
                                                    <h:outputText value="#{pub.usuario.codigo}" style="font-weight: bold"/>

                                                    <h:outputText value="Tipo Publicacion:" />
                                                    <h:outputText value="#{pub.tipo}" style="font-weight: bold"/>

                                                    <h:outputText value="Titulo:" />
                                                    <h:outputText value="#{pub.titulo}" style="font-weight: bold"/>

                                                    <h:outputText value="Fecha Publicacion:" />
                                                    <h:outputText value="#{pub.fecha}" style="font-weight: bold"/>


                                                    <h:outputText value="Accion:" />

                                                    <p:commandButton value="Ver Detalle" actionListener="#{publicacionController.cargarPublicacionVer(pub)}" onclick="PF('dlg3').show();"></p:commandButton>

                                                </h:panelGrid>
                                            </p:outputPanel>
                                        </h:panelGrid>
                                    </p:dataScroller>


                                </h:panelGrid>
                            </p:tab>



                        </p:tabView>
                    </h:form>

                </p:layoutUnit>

            </p:layout>

            <p:dialog style="font-size: small;"  header="#{publicacionController.publicacionVer.titulo}"  widgetVar="dlg3" showEffect="explode" hideEffect="explode" height="500" width="800" resizable="false" closable="true" closeOnEscape="true" draggable="false" modal="true" >
                <p:ajax event="close" update="@all"/>
                <center>
                    <h:form>


                        <h:panelGrid id="grid" columns="4" cellpadding="8">


                            <h:outputLabel for="nick" value="Nombre de Usuario:" style="font-weight:bold"/>                    
                            <h:outputLabel id="nick" value="#{publicacionController.publicacionVer.usuario.nombre}" title="#{bundle.CreateUsuarioTitle_nick}" style="width: 300px"/>





                            <h:outputLabel for="codigo" value="Codigo:" style="font-weight:bold"/>                    
                            <h:outputLabel id="codigo"  value="#{publicacionController.publicacionVer.usuario.codigo}" title="#{bundle.CreateUsuarioTitle_codigo}" />


                            <h:outputLabel for="correo" value="E-Mail:" style="font-weight:bold"/>
                            <h:outputLabel id="correo" value="#{publicacionController.publicacionVer.usuario.correo}" style="width: 300px;" title="#{bundle.CreateUsuarioTitle_correo}"/>




                        </h:panelGrid>

                        <h3>Descripcion:</h3>
                        <p:inputTextarea rows="6" cols="33" value="#{publicacionController.publicacionVer.contenido}" style="width: 100%;  color: black;   font-size:medium ;" disabled="true" />
                        <br/>
                        <br/>

                        <h:form> 

                            <p:dataScroller value="#{publicacionController.publicacionVer.comentarioList}" var="coment"  chunkSize="5" mode="inline" rows="4" >
                                <f:facet name="header">
                                    Desplaza para ver mas comentarios
                                </f:facet>

                                  <h:panelGrid columns="2" style="width:90%" >
                                    <p:graphicImage  url="resources/imagenes/kobe.png"/> 
                                    
                                    <p:outputPanel>
                                        <h:panelGrid columns="2" cellpadding="5">

                                            <h:outputText value="Usuario:" />
                                            <h:outputText value="#{coment.usuario.nombre}" style="font-weight: bold"/>

                                            <h:outputText value="Comentario:" />
                                            <h:outputText value="#{coment.contenido}" style="font-weight: bold"/>
                                        </h:panelGrid>
                                    </p:outputPanel>
                                </h:panelGrid>
                            </p:dataScroller>

                        </h:form>

                        <br/>


                    </h:form>
                </center>
            </p:dialog>



        </h:body>

    </f:view>
</html>



