<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <script type="text/javascript" src="resources/scripts/jquery.js"></script>
                <script type="text/javascript" src="resources/scripts/funcionesCarga.js"></script>



                <title>Foro IS</title>
            </f:facet>
        </h:head>
        <body>
        <h:form>
            <center>


                <p:commandButton value="Publicacion" type="button" onclick="PF('dlg3').show();" /> 

                <p:dialog style="font-size: small;"  header="Titulo de la Publicacion"  widgetVar="dlg3" showEffect="explode" hideEffect="puff" height="500" width="800" resizable="false" closable="true" closeOnEscape="true" draggable="false" modal="true">

                    <h:form>





                        <h:panelGrid id="grid" columns="4" cellpadding="8">


                            <h:outputLabel for="nick" value="Nombre de Usuario:" style="font-weight:bold"/>                    
                            <h:outputLabel id="nick" value="Luis Miguel Blanco" title="#{bundle.CreateUsuarioTitle_nick}" style="width: 300px"/>





                            <h:outputLabel for="codigo" value="Codigo:" style="font-weight:bold"/>                    
                            <h:outputLabel id="codigo"  value="1150488" title="#{bundle.CreateUsuarioTitle_codigo}" />


                            <h:outputLabel for="correo" value="E-Mail:" style="font-weight:bold"/>
                            <h:outputLabel id="correo" value="ing.luis.blanco18@gmail.com" style="width: 300px;" title="#{bundle.CreateUsuarioTitle_correo}"/>




                        </h:panelGrid>

                        <h3>Descripcion:</h3>
                        <p:inputTextarea rows="6" cols="33" value="Contenido de la publicacion..."  style="width: 100%;" disabled="true"/>
                        <br/>
                        <br/>
                        
                        <h:form> 

                            <p:dataScroller value="Comentarios" var="car"  chunkSize="5" mode="inline" rows="4" >
                                <f:facet name="header">
                                    Desplaza para ver mas comentarios
                                </f:facet>

                                <h:panelGrid columns="2" style="width:90%" >
                                    <p:graphicImage  url="resources/imagenes/kobe.png"/> 

                                    <p:outputPanel>
                                        <h:panelGrid columns="2" cellpadding="5">

                                            <h:outputText value="Usuario:" />
                                            <h:outputText value="Ronald Vargas" style="font-weight: bold"/>

                                            <h:outputText value="Comentario:" />
                                            <h:outputText value="Exelente publicacion, sigue asi." style="font-weight: bold"/>
                                        </h:panelGrid>
                                    </p:outputPanel>
                                </h:panelGrid>
                            </p:dataScroller>
                            
                        </h:form>
                    
                        <br/>
                        <h3>Comenta.</h3>
                        <p:inputTextarea rows="6" cols="33" value="Ingrese comentario"  style="width: 100%;"/>
                        <br/>
                          <br/>
                        <p:commandButton value="Comentar"  icon="ui-icon-check" validateClient="true" /><p:spacer width="20" height="20" />
                        <p:commandButton value="Aceptar" icon="ui-icon-extlink" />



                    </h:form>
                </p:dialog>

            </center>
        </h:form>
    </body>
</f:view>
</html>
